<!doctype html>
<html ng-app="unibot">
<head>
  <meta charset="utf-8">
  <title>UniBot for Freenode</title>
  <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://raw.github.com/twitter/bootstrap/master/docs/assets/js/bootstrap.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
  <script src="https://raw.github.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
  Hello {{name}}!
  <form ng-submit="save(data)">
    <table class="zebra">
      <thead>
        <tr>
          <th>ID</th>
          <th>Command</th>
          <th>Value</th>
          <th>Actions</th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>
            <input type="text" required ng-model="data.command" placeholder="Command">
          </th>
          <th>
            <textarea required ng-model="data.value" placeholder="Value"></textarea>
          </th>
          <th>
            <ul>
              <li><input type="submit" value="Save"></li>
              <li><input type="reset" value="Cancel"></li>
            </ul>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="command in commands">
          <td>{{command.id}}</td>
          <td>{{command.command}}</td>
          <td>{{command.value}}</td>
          <td>
            <ul>
              <li><a ng-click="edit(command)">Edit</a></li>
              <li><a ng-click="delete(command)">Delete</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</body>
</html>